
body {
  font-size:15px;
  background-color: #1d1e21;
  color: white;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 2vh;
}

input {
  font-size: 15px;
  margin-top: 25vh;
  width: inherit;
  max-width: 80%;
}

span {
 color: yellow;
}
